@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

.form {
    display: flex;
    /* border-top: 2px solid #e2e2e2; */
  }
  
  .input {
    border: 2px solid rgb(213, 213, 213);
    border-radius: 7px;
    padding: 5%;
    width: 70%;
    font-size: 1.2em;
    font-family: "Poppins", sans-serif;
  }
 
  input:focus, textarea:focus, select:focus{
    outline: none;

  }
  
  .sendButton {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    text-decoration: none;
    background-color: rgb(95, 108, 255);
    padding: 15px;
    display: inline-block;
    border: none;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 20%;
    height: 54px;
  }
  * {/*to set the captcha button to same width as the input field*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}